<app-nav></app-nav>
<app-direccion></app-direccion>
<app-descripcion></app-descripcion>
<main>

    <app-elipse-information></app-elipse-information>
    <app-filtro-search></app-filtro-search>
    <div class="bloque-information">
        <div class="content-information">
            <div class="Bloque-programas-formativos">
                <div class="content-progrma-formativo">
                    <div class="programa-formativo">
                        <div class="fichas">
                            <div><h4>6</h4></div>
                            <span>Fichas ativas</span>
                        </div>
                        <div class="desc">
                            <div><h4>ADSO</h4></div>
                            <div><span>Diseño aplicaciones moviles</span></div>
                        </div>
                    </div>
                    <div class="check">
                        <input type="checkbox">
                    </div>
                </div>
                <div class="content-progrma-formativo">
                    <div class="programa-formativo">
                        <div class="fichas">
                            <div><h4>6</h4></div>
                            <span>Fichas ativas</span>
                        </div>
                        <div class="desc">
                            <div><h4>ADSO</h4></div>
                            <div><span>Diseño aplicaciones moviles</span></div>
                        </div>
                    </div>
                    <div class="check">
                        <input type="checkbox">
                    </div>
                </div>
                <div class="content-progrma-formativo">
                    <div class="programa-formativo">
                        <div class="fichas">
                            <div><h4>6</h4></div>
                            <span>Fichas ativas</span>
                        </div>
                        <div class="desc">
                            <div><h4>ADSO</h4></div>
                            <div><span>Diseño aplicaciones moviles</span></div>
                        </div>
                    </div>
                    <div class="check">
                        <input type="checkbox">
                    </div>
                </div>
                <div class="content-progrma-formativo">
                    <div class="programa-formativo">
                        <div class="fichas">
                            <div><h4>6</h4></div>
                            <span>Fichas ativas</span>
                        </div>
                        <div class="desc">
                            <div><h4>ADSO</h4></div>
                            <div><span>Diseño aplicaciones moviles</span></div>
                        </div>
                    </div>
                    <div class="check">
                        <input type="checkbox">
                    </div>
                </div>
                <div class="content-progrma-formativo">
                    <div class="programa-formativo">
                        <div class="fichas">
                            <div><h4>6</h4></div>
                            <span>Fichas ativas</span>
                        </div>
                        <div class="desc">
                            <div><h4>ADSO</h4></div>
                            <div><span>Diseño aplicaciones moviles</span></div>
                        </div>
                    </div>
                    <div class="check">
                        <input type="checkbox">
                    </div>
                </div>
                <div class="content-progrma-formativo">
                    <div class="programa-formativo">
                        <div class="fichas">
                            <div><h4>6</h4></div>
                            <span>Fichas ativas</span>
                        </div>
                        <div class="desc">
                            <div><h4>ADSO</h4></div>
                            <div><span>Diseño aplicaciones moviles</span></div>
                        </div>
                    </div>
                    <div class="check">
                        <input type="checkbox">
                    </div>
                </div>
            </div>
            <div>
                <a href=""><button>Añadir mas</button></a>
            </div>
        </div>
    </div>
</main>




