nav{
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.content-nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    width: 100%;

}
.content{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.content-NavBar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
}
.NavBar{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.NavBar picture{
    display: flex;
    max-width: 25px;
    max-height: 25px;
    align-items: center;
}
.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border-radius: 40px;
    background: #161A24;
}
.user span{
    max-width: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.bar_dirrecion{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 0;
    gap: 5px;
    
}
.bar_dirrecion li a{
    padding-right: 5px;
    color: #FFFFFF;
}
.bar_dirrecion li:hover a{
    color: #9b9b9b;
}
.title{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    padding: 0;
}
.title li{
    background-color: #006B00;
    padding: 5px;
    border-radius: 20px;
    max-width: 316px;
    text-align: center;
}
.title li:nth-child(2){
    height: 20px;
}
.Description{
    display: flex;
    padding: 0;
    justify-content: flex-start;
    
}
.Description li{
    background-color: #192239;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    max-width: 800px;
}
path{
    fill: azure;
    stroke: black;
    
}

.content-information{
    width: 1500px;
    background-color: #192239;

}
